<footer class="bg-body w-full px-5 pb-20 md:pb-40 pt-20 relative overflow-hidden">
  <div class="max-w-[1400px] m-auto relative z-10">
    <h2 class="text-left sm:text-center text-white text-[100px] sm:text-[150px] md:text-[200px] lg:text-[300px] xl:text-[350px] font-gothic uppercase leading-none">Contact Us</h2>
    <form class="contact-form mt-5 m-auto max-w-[500px]" name="contact" method="POST" data-netlify="true">
      <p class="text-white font-figtree text-xl mb-8">Let&rsquo;s discuss your success in the Canadian market!</p>
      <div class="mb-5">
        <input
          type="text"
          id="name"
          name="name"
          class="font-figtree shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500
            focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
            dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
          placeholder="Name"
          required="required"></div>
        <div class="mb-5">
          <input
            type="email"
            id="email"
            name="email"
            class="font-figtree block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm
              focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
              dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Email"
            required="required"></div>
          <div class="mb-5">
            <textarea
              id="message"
              name="message"
              rows="6"
              class="font-figtree block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300
                focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
              placeholder="Message"></textarea>
          </div>
          <button
            type="submit"
            class="py-5 px-5 text-sm text-center text-body rounded-lg bg-yellow-500 sm:w-fit hover:bg-primary-800 w-full font-figtree
              uppercase font-semibold tracking-widest focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600
              dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Contact AdVerge</button>
        </form>
        <div class="success-msg hidden bg-green-200 rounded max-w-xl m-auto py-5 px-3 text-center text-body text-xl">
          <p>Thanks for reaching out. I&rsquo;ll get back to you as soon as I can.</p>
        </div>
      </div>
      <div class="absolute top-1/2 right-40 z-0 opacity-30">
        {% include "star-shape.njk" %}
      </div>
      <div class="absolute top-1/4 left-40 z-0 opacity-30 rotate-45">
        {% include "ellipse-light-1.njk" %}
      </div>
    </footer>