{% for item in collections.sections %}
  {% if item.data.type === 'features' %}
    <section id="features" class="w-full flex flex-col justify-center  bg-[#111111] py-16 sm:py-32">
      <div class="w-full max-w-[1000px] m-auto px-5">
        <div class="">
          <h2 class="font-gothic text-[48px] uppercase mb-5 text-white">About Us</h2>
        </div>
        <div class="">
          <p class="text-white font-semibold font-figtree text-lg pb-6">AdVerge is led by Canadian ad industry force Jeff McCann.</p>
          <p class="text-light-white font-figtree text-lg pb-8">With 15 years experience immersed in the dynamic world of Canadian
            Digital Advertising Sales, Jeff is a seasoned trailblazer, having sold campaigns for many of the Fortune 1,000 giants to
            homegrown Canadian enterprises.
          </p>
          <p class="text-light-white font-figtree text-lg pb-8">Working with clients such as Air Canada Media, Sharethrough, Teads,
            Native Touch and Silverpush, selling both self-serve programmatic solutions as well as managed service solutions, Jeff
            boasts a track record of closing many millions in digital ad revenue for his clients.
          </p>
          <p class="text-light-white font-figtree text-lg pb-8">Celebrated with multiple President's Club sales awards, Media Innovation
            Awards, and Agency Partnership honours, Jeff is a force, extending influence across advertising agencies nationwide,
            from the Holdcos to the independents.
          </p>
          <p class="text-light-white font-figtree text-lg pb-8">Under Jeff's leadership, AdVerge stands out as a game changer for global
            ad tech firms seeking expansion into Canada. With years of experience and a track record of successful campaigns,
            AdVerge offers more than services – it delivers a roadmap to success. From navigating intricate nuances to leveraging an
            extensive network, their approach is dynamic and results-driven. Clients joining forces with AdVerge experience a
            transformative journey, where every move is strategic, and every success is amplified.
          </p>
        </div>
        <div class="w-full mt-10 block sm:flex items-center justify-center">
          <img class="m-auto sm:m-0 w-full max-w-[250px] md:max-w-[300px] rounded-full grayscale" width="" height="" src="/img/jeff.webp" alt="Jeff McCann">
          <div class="w-full sm:w-[300px] pl-0 sm:pl-5 mt-5 sm:mt-0">
            <div class="rotate-6">
              <img class="max-w-[200px] sm:max-w-full m-auto" width="" height="" src="/img/signature.webp" alt="Jeff's signature">
            </div>
            <p class="text-center sm:text-left text-white font-figtree uppercase tracking-[2px] -mt-5">Jeff McCann</p>
          </div>
        </div>
        </div>
      </section>
    {% endif %}
  {% endfor %}